@using Sitecore.Mvc
@using Sitecore.XA.Foundation.IoC
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Interfaces

@model Sitecore.XA.Foundation.Mvc.Models.RenderingModelBase

@{
    const string placeholderKeyPrefix = "f0rm-container";
    var key = string.Format("{0}-{1}", placeholderKeyPrefix, 1);
}

<div @Html.Sxa().Component("fancy-container")>
    <div class="component-content">
        <div class="form">
            @Html.Sitecore().Placeholder(key)
            @Html.Partial("~/Views/FormContainer/Partial/Error.cshtml", Model)
            @Html.Partial("~/Views/FormContainer/Partial/Success.cshtml", Model)
        </div>
    </div>

</div>

@Html.Hidden("Id", Model.Item.ID)
@Html.Hidden("ContextSite", ServiceLocator.Current.Resolve<IPageContext>().Current.ID)

<!-- Resources of the Form Composer -->
<!-- Styles -->
<link rel="stylesheet" href="~/Styles/f0rms/component-f0rms.css">
<!-- Scripts -->
<script src="~/Scripts/f0rms/component-f0rmsIntern.js"></script>