@model Sitecore.Data.Items.Item

<span>
    @Html.Partial("~/Views/FieldBase/ElementLabel.cshtml", Model)
</span>

<input
    id="@Model.ID"
    type="radio"
    name="@ViewData["radioListName"]"
    value="@Model["Value"]"
    @(ViewData["mandatory"].Equals("true") ? Html.Raw("required") : Html.Raw(string.Empty))>